.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 140px;
    margin-left: 0%;
    
}
.image{
   height: 10%;
   width: 10%;
   margin-left: 3%;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
    margin-left: 19%;
}
.nav-connect{
    padding: 10px 20px;
    margin-left: 15%;
    border-radius: 50px;
    background: linear-gradient(267deg,#DA7C25 0.36%,#B923E1 102.06%);
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    
}
.nav-connect:hover{
    transform: scale(1.05);
}